//Colors

//Primary

$Marineblue: hsl(213, 96%, 18%);
$Purplishblue: hsl(243, 100%, 62%);
$Pastelblue: hsl(228, 100%, 84%);
$Lightblue: hsl(206, 94%, 87%);
$Strawberryred: hsl(354, 84%, 57%);

//Neutral

$Coolgray: hsl(231, 11%, 63%);
$Lightgray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

.section--stepThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    background-color: #fff;
    margin: auto;
    margin-top: -70px;
    padding: 20px;
    border-radius: 10px;
    h1{
        color: $Marineblue;
        margin-top: 20px;
    }
    p{
        color: $Coolgray;
        margin: 20px 0;
        line-height: 25px;
    }

    .addonOne, .addonTwo, .addonThree{
        display: grid;
        grid-template-columns: 50px 2fr 50px;
        align-items: center;
        border: 1px solid $Lightgray;
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px;
        
        input{
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border: 1px solid $Lightgray;           
        }
        .divAddOne, .divAddTwo, .divAddThree{
            
            .add--choice{
                color: $Marineblue;
                font-weight: bold;
                margin-bottom: 0;
                font-size: 15px;
            }
            .add--description{
                margin-top: 0;
                font-size: 13px;
            }
        }
        .add--price{
            font-size: 12px;
            color: $Purplishblue;
        }
    }
    .isSelect{
        border: 1px solid $Purplishblue;
        background-color: $Alabaster;
    }
}
.divBtn{
    .btn--back{
        background-color: #fff;
        border: none;
        color: $Coolgray;
        margin-left: 20px;
    }
    .btnStepThree{
        margin: 20px;
        padding: 10px;
        background-color: $Marineblue;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 3px;
    }
}