//Colors

//Primary

$Marineblue: hsl(213, 96%, 18%);
$Purplishblue: hsl(243, 100%, 62%);
$Pastelblue: hsl(228, 100%, 84%);
$Lightblue: hsl(206, 94%, 87%);
$Strawberryred: hsl(354, 84%, 57%);

//Neutral

$Coolgray: hsl(231, 11%, 63%);
$Lightgray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

.section--stepFour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    background-color: #fff;
    margin: auto;
    margin-top: -70px;
    padding: 20px;
    border-radius: 10px;
    h1{
        color: $Marineblue;
        margin-top: 20px;
    }
    p{
        color: $Coolgray;
        margin: 20px 0;
        
    }
    .recap{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: $Magnolia;
        padding: 10px;
        border-radius: 5px;
        .divPlanChoice{
            display: flex;
            justify-content: space-between;
            .planChoice,.price{
                color: $Marineblue;
                font-weight: bold;
            }
            .linkStepTwo{
                text-decoration: underline;
                margin-top: 0;
            }
            .planChoice{
                margin-bottom:0 ;
            }
            .price{
                align-self: center;
            }
        }
        .recap__addon{
            display: flex;
            justify-content: space-between;
            .recap__addon--price{
                color: $Marineblue;
            }
        }
    }
    .total{
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .recap__total--price{
            color: $Purplishblue;
            font-weight: bold;
        }
    }
}

.divBtn{
    .confirm{
        margin: 20px;
        padding: 10px;
        background-color: $Marineblue;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 3px;
    }
}