@import 'attribution';
@import 'stepOne';
@import 'aside';
@import 'stepTwo';
@import 'stepThree';
@import 'stepFour';
@import 'finalStep';

//Colors

//Primary

$Marineblue: hsl(213, 96%, 18%);
$Purplishblue: hsl(243, 100%, 62%);
$Pastelblue: hsl(228, 100%, 84%);
$Lightblue: hsl(206, 94%, 87%);
$Strawberryred: hsl(354, 84%, 57%);

//Neutral

$Coolgray: hsl(231, 11%, 63%);
$Lightgray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.mainContainer{
    width: 100%;
    height: 95vh;
    background-color: $Magnolia;
    display: flex;
    flex-direction: column;
    position: relative;
}